.radiobtn {
  position: relative;
   margin: 0;
   display:inline-block;
   width:var(--radiobtn-size);
   height:var(--radiobtn-size);
   z-index:0;
}

.radiobtn input[type='radio'] {
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: var(--radiobtn-size);
   height: var(--radiobtn-size);
   left: 0;
   top: 0;
}
.radiobtn label {
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
.radiobtn label::before {
   content: "";
   display: inline-block;
   position: absolute;
   width: var(--radiobtn-size);
   height: var(--radiobtn-size);
   left: 0;
   top: 0;
   background-color: var(--color-check-bg1);
   border: 1px solid var(--color-check-bg2);
   border-radius: 50%;
}
.radiobtn label::after
{
   display: inline-block;
   position: absolute;
   width: var(--radiobtn-size);
   height: var(--radiobtn-size);
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: var(--radiobtn-size);
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
.radiobtn input[type='radio']:checked + label::after
{
   background-color: var(--color-check-bg2);
   background-image: none;
   border-color: var(--color-check-bg2);
   transform: scale(0.66, 0.66);
}
.radiobtn input[type='radio']:focus + label::before
{
   outline: thin dotted;
}

/*--------------------------------------------------------------*/


.checkbox
{
  position: relative;
   margin: 0;
   display:inline-block;
   width: var(--checkbox-size);
   height: var(--checkbox-size);
   z-index:0;
}

.checkbox, .checkbox *, .checkbox *::before, .checkbox *::after
{
   box-sizing: border-box;
}
.checkbox input[type='checkbox']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width:  var(--checkbox-size);
   height:  var(--checkbox-size);
   left: 0;
   top: 0;
}
.checkbox label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
.checkbox label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width:  var(--checkbox-size);
   height:  var(--checkbox-size);
   left: 0;
   top: 0;
   background-color: var(--color-check-bg1);
   border: 1px solid var(--color-check-bg2);
   border-radius: 0;
}
.checkbox label::after
{
   display: inline-block;
   position: absolute;
   width:  var(--checkbox-size);
   height:  var(--checkbox-size);
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height:  var(--checkbox-size);
}
.checkbox input[type='checkbox']:checked + label::after {
   content: " ";
   /*background-image: url('/template/images/icons/checkboxB.svg');*/
      background-image: url('/template/images/icons/checkbox2.svg');
   background-position:  center center;
   background-repeat: no-repeat;
   background-size: 80% 80%;
}
.checkbox input[type='checkbox']:checked + label::before {
   /*background-color:#FFFFFF;*/
      background-color:var(--color-check-bg2);
   background-image: none;
   border-color: var(--color-check-bg2);
}
.checkbox input[type='checkbox']:focus + label::before { outline: thin dotted;}

