
.burger {
  display: none;
  position: relative;
  width: 34px;
  height: 36px;
  box-sizing: border-box;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #000;
  margin: 6px 0;
  transition: .5s;
}

/* Burger menu animation*/

.burger.active span {
  position: absolute;
  width: calc(100%);
  top: calc(50% - 8px);
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger.active span:nth-child(2) {
  display: none;
}




